@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat;
}

/* Navigation Code Start */

nav {
    background: #1c2833;
    padding: 0 50px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}
#nav-logo {
    color: white;
    font-size: 25px;
    font-weight: 700;
}
#click {
    display: none;
}
.menu-btn {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style-type: none;
    margin: 0 8px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 13px;
    border-radius: 3px;
    transition: 0.5s;
}
nav ul li a:hover, nav  ul li a.active {
    background-color: #566573;
}


/* Responsive Code Start  */

/* nav responsive code  */

@media only screen and (max-width: 940px) {
    .menu-btn {
        display: block;
    }
    #click:checked ~ ul {
        left: 0%;
    }
    #click:checked ~ .menu-btn i::before {
        content: '\f00d';
    }
    nav {
        padding: 0 10px;
    }
    .manu-btn i {
        font-size: 5px;
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #17202A;
        padding-top: 20px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        transition: all 0.5s ease;
    }
    nav ul li {
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 22px;
    }
    nav ul li a:hover, nav ul li a.active {
        background: none;
        color: red;
    }
}

/* Header Section Code Start */

header {
    height: 88vh;
    background-image: url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* main/first/service-section code start  */

#first-section {
    background-color:  #16213E;
    padding: 50px 0 100px 0;
}
.service-title {
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 30px;
    letter-spacing: .2em;
}
#service-parent {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.single-service {
    background-color: white;
    text-align: center;
    padding: 30px 20px;
    border: 3px solid green;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
}
.single-service i {
    font-size: 40px;
}
.single-service h2 {
    margin: 10px 0;
    font-weight: bold;
}


/* Second Section Code Start  */
#second-section {
    background-color: #154360;
    padding: 50px 0;
}
.smart-title {
    color: yellow;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: .2em;
}
#smart-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
.smart-text {
    color: white;
}
.smart-text h2 {
    margin: 20px 0;
    font-size: 30px;
}
.smart-text a {
    text-decoration: none;
    background-color: bisque;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 22px;
    color: black;
    display: inline-block;
    margin-top: 40px ;
}

/* Third Section Code Start  */

.third-section {
    padding: 100px 0;
    background-image: url('images/about-section.jpg');
}

.about-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    gap: 30px;
    color: white;
}
.about-single-items-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}
.about-single-item {
    background-color: white;
    color: black;
    padding: 40px 20px;
    border: 2px solid limegreen;
    border-radius: 5px;
    text-align: center;
}
.about-single-item h4 {
    font-size: 20px;
    padding: 10px 0 20px 0;
}
.more-about-vanilla h4 {
    font-size: 20px;
    margin-bottom: 20px;
}
.more-about-vanilla ul {
    margin: 20px 0;
    list-style: inside;
}
.more-about-vanilla a {
    text-decoration: none;
    background-color: yellow;
    font-size: 18px;
    padding: 10px 30px;
    color: black;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

/* Fouth Secton Code Start  */
.fourth-section {
    padding: 100px 0;
    background: #154360;
    color: white;
}
.advice-parent {
    display: flex;
    gap: 50px;
    margin: 0 200px;
}
.advice-img img {
    width: 100%;
}
.single-advice h3 {
    font-size: 25px;
    margin-top: 10px;
}
.single-advice h4 {
    font-size: 25px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}
.single-advice p {
    margin: 20px 0;
    text-align: justify;
    line-height: 1.6;
}
.single-advice a {
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 40px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.3s;
}
.advice-icon {
    text-align: center;
}
.advice-icon a {
    margin: 0 5px;
    border: 1px solid black;
}
.single-advice a:hover {
    background-color: wheat;
}


/* Fifth/Form Code Start  */
.fifth-section {
    padding: 100px 0;
    background-image: linear-gradient(#3958a25e, #4089C7), url('images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
form {
    background-color: #2e357a;
    color: white;
    max-width: 50%;
    margin: 0 auto;
    border: 6px solid #4497D3;
    border-radius: 10px;
    padding: 50px 60px;
}
form h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1em;
}
form p {
    text-align: center;
    margin: 30px 0;
    letter-spacing: 0.1em;
}
.form-input {
    color: white;
    display: block;
    height: 40px;
    width: 100%;
    margin: 50px 0;
    font-size: 18px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 3px solid #4497D3;
}
.form-input::placeholder {
    color: #4497D3;
    font-weight: bold;
}
.form-submit-btn {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding: 5px 40px;
    background: none;
    color: white;
    outline-style: ridge;
    cursor: pointer;
    transition: 0.4s;
}
.form-submit-btn:hover {
    background-color: #16213E;
}

/* Sixth/Match Section Start */
.sixth-section {
    padding: 100px 0;
    background-color: #07254F;
    color: white;
}
.match-items-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 0 200px;
}
.single-match-item {
    padding: 20px;
    border: 4px solid #26528F;
}
.single-unmatch-item {
    line-height: 1.5;
    letter-spacing: 0.1em;
}
.single-match-item i {
    font-size: 40px;
    padding: 0 20px 10px 20px;
}
.single-match-item h5 {
    margin-bottom: 10px;
    text-transform: uppercase;
}
.single-match-item p{
    color: #6D809C;
    font-size: 14px;

}

/* Seventh/Care Section Start */
.seventh-section {
    padding: 100px 0;
}
.care-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 200px;
}
.single-care-text h3{
    font-size: 30px;
}
.single-care-text p {
    margin: 20px 0;
}
.single-care-text ul li {
    margin: 10px 0;
    list-style-position: inside;
}
.single-care-img {
    width: 100%;
}
.single-care-img img{
    width: 100%;
}








/* Responsive Code  */

/* For Mobile Device  */
@media only screen and (max-width: 688px) {
   /* Service Section Code Start  */
   #service-parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 100%;
}
   /* Service Section Code End   */

   /* Smart Section Code Start  */
    #smart-parent {
        display: block;
        margin: 0 30px;
    }
    .smart-img img {
        width: 100%;
        margin-bottom: 50px;
    }
   /* Smart Section Code End  */

   /* About Section Code Start  */
   .about-parent {
    display: block;
    margin: 0 30px;
   }
   .about-single-items-parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
   }
   /* About Section Code End  */

   /* Fourth/Advice Section Start */
   .advice-parent {
    display: block;
    margin: 0 30px;
   }
   .advice-icon {
    text-align: left;
    margin-bottom: 50px;
   }
   .advice-icon a {
    margin: 10px 5px;
   }
   /* Fourth/Advice Section End */

   /* Fifth/Form Code Start */
   form {
    max-width: 90%;
    padding: 20px 30px;
   } 
   /* Fifth/Form Code End */

   /* Sixth/Match Section Start */
   .match-items-parent {
    display: block;
    margin: 0 30px;
   }
   .single-match-item {
    margin: 25px 0;
   }
   .single-unmatch-item {
    text-align: center;
   }
   /* Sixth/Match Section End */

   /* Seventh/Care Section Start */
   .care-parent {
    display: block;;
    margin: 0 30px;
   }
   .single-care-text {
    margin-bottom: 70px;
   }
   /* Seventh/Care Section End */


}





/* For Tab Device  */
@media only screen and (min-width: 689px) and (max-width: 1099px) {
    /* Service Section Code Start  */
    #service-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 100%;
    }
    /* Service Section Code End  */

    /* Smart Section Code Start  */
    #smart-parent {
        display: block;
        margin: 0 70px;
    }
    .smart-img img {
        width: 100%;
        margin-bottom: 70px;
    }
   /* Smart Section Code End  */

    /* About Section Code Start  */
    .about-parent {
        display: block;
        margin: 0 70px;
    }
    .about-single-items-parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-top: 50px;
       }
    /* About Section Code End  */

    /* Fourth/Advice Section Start */
       .advice-parent {
        margin: 0 70px;
    }
    .advice-icon a {
        margin: 10px 5px;
    }
    /* Fourth/Advice Section End */

    /* Fifth/Form Code Start */
   form {
    max-width: 80%;
    padding: 40px 50px;
   } 
   /* Fifth/Form Code End */

   /* Sixth/Match Section Start */
   .match-items-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    margin: 0 70px;
   }
   .single-match-item {
    margin: 25px 0;
   }
   /* Sixth/Match Section End */

   /* Seventh/Care Section Start */
   .care-parent {
    display: block;;
    margin: 0 70px;
   }
   .single-care-text {
    margin-bottom: 80px;
   }
   /* Seventh/Care Section End */

}